<!DOCTYPE html>

{% load static %}

{% load query_url %}
{% load translated_name %}

<html>
  <head>
    <link rel="stylesheet" href="{% static "bootstrap-4.1.0-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>xeno-canto browser</title>
  </head>
  <body>
      <h1>All species</h1>

      <ul>
        {% for species in all_species %}
          <li>
            <a href="{% url 'species' species.ioc_name %}">
              {{ species | translated_name:"Dutch" | default:"?" }} (<i>{{ species.ioc_name }}</i>)
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if all_species.paginator.count > 1 %}
        {% for i in all_species.paginator.page_range %}
          <a class="btn btn-sm {% if i == all_species.number %}btn-primary{% else %}btn-light{% endif %}" href="{% query_url request.get_full_path page=i %}">{{ i }}</a> 
        {% endfor %}
      {% endif %}
  </body>
</html>

