<head>
  <title>{{species.common_name('nl')}}</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
  <h2><em>{{species.scientific_name}}</em> - {{species.common_name('en')}} - {{species.common_name('nl')}}</h2>

  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    {% for group, recordings in groups.items() %}
      <div>
        <h3>{{group|title}} - {{group_sizes[group]}}</h3>
        {% for recording in recordings %}
          {% set selected_recording = selected_recordings_by_id[recording.recording_id] %}
          {% set recording_override = recording_overrides[recording.recording_id] %}
          <div class="recording-box {% if selected_recording %}selected{% endif %} {% if recording_override.status %}has-override{% endif %}"
               data-recording-id="{{recording.recording_id}}">
            <div style="width: 200px;">
              <a href="https://www.xeno-canto.org/{{recording.recording_id.split(':')[1]}}">{{recording.recording_id}}</a><br>
              <small>
                <abbr title="Recording duration">{{recording.length_seconds}} s</abbr>&emsp;
                <abbr title="Recording quality">{{recording.quality}}</abbr>&emsp;
                <abbr title="Number of background species">{{recording.background_species|length}}</abbr>&emsp;
                <abbr title="Computed quality from sonogram">{{"{:,.0f}".format(recording.sonogram_analysis.sonogram_quality)}}</abbr>
              </small><br>
              {{recording.type}}<br>
              <select class="override-status" autocomplete="off">
                <option value=""></option>
                <option value="blacklist" {% if recording_override.status == 'blacklist' %}selected{% endif %}>blacklist</option>
                <option value="goldlist" {% if recording_override.status == 'goldlist' %}selected{% endif %}>goldlist</option>
              </select><br>
              <div class="show-on-override">
                <input class="override-reason" value="{{ recording_override.reason }}" autocomplete="off"><br>
                <input type="submit" class="override-submit" value="Save">
              </div>
            </div>
            <div>
              <img src="{{recording.sonogram_url_small}}" width="240" height="80">
            </div>
            <div>
              <button class="play-button" data-audio-url="{{recording.audio_url}}" style="width: 40px; height: 80px; border: 0; padding: 0; cursor: pointer;">▶</button>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <a href="?group_size_limit={{group_size_limit + 30}}">Load 30 more</a>

  <audio id="audio-player">

  <style>
    .recording-box {
      display: flex;
      flex-direction: row;
      background: #def;
      padding: 8px;
      margin-bottom: 8px;
    }
    .recording-box > * {
      margin-left: 8px;
    }
    .recording-box > *:first-child {
      margin-left: 0;
    }
    .recording-box.selected {
      background: #efd;
    }
    .show-on-override {
      display: none;
    }
    .has-override .show-on-override {
      display: block;
    }
    select {
      width: 100%;
    }
    input {
      width: 100%;
    }
    button {
      background: #f8f8f8;
    }
    button:hover {
      background: #eee;
    }
  </style>

  <script>
    const audioPlayer = document.getElementById('audio-player')
    audioPlayer.addEventListener('playing', onPlaying)
    audioPlayer.addEventListener('ended', onEnded)
    let playingButton = null
    function onPlayClick(event) {
      event.preventDefault()
      if (playingButton == this) {
        stop()
        return
      } else {
        stop()
      }
      audioPlayer.src = this.dataset.audioUrl
      audioPlayer.play()
      this.innerHTML = '…'
      playingButton = this
    }
    function onPlaying() {
      playingButton.innerHTML = '⏹'
    }
    function onEnded() {
      stop()
    }
    function stop() {
      if (playingButton) {
        audioPlayer.pause()
        audioPlayer.removeAttribute('src')
        playingButton.innerHTML = '▶'
        playingButton = null
      }
    }
    for (const button of document.getElementsByClassName('play-button')) {
      button.addEventListener('click', onPlayClick)
    }

    function onRecordingBoxChanged(event) {
      event.preventDefault()
      if (event.target.classList.contains('override-status')) {
        this.classList.add('has-override')
      }
    }
    function onRecordingBoxClicked(event) {
      event.preventDefault()
      const recordingId = this.dataset.recordingId
      if (event.target.classList.contains('override-submit')) {
        const url = `/recording_override/${recordingId}`
        const data = {
          status: this.querySelector('.override-status').value,
          reason: this.querySelector('.override-reason').value,
        }
        post(url, data, function() {
          window.location.reload()
        })
      }
    }
    for (const recordingBox of document.getElementsByClassName('recording-box')) {
      recordingBox.addEventListener('change', onRecordingBoxChanged)
      recordingBox.addEventListener('click', onRecordingBoxClicked)
    }

    function post(url, data, done) {
      const request = new XMLHttpRequest()
      request.addEventListener('readystatechange', () => {
        if (request.readyState == XMLHttpRequest.DONE) {
          if (request.status != 200) {
            alert(`Request to ${url} returned status code ${request.status}`)
          } else {
            done()
          }
        }
      })
      request.open('POST', url)
      request.setRequestHeader('Content-Type', 'application/json')
      request.send(JSON.stringify(data))
    }
  </script>

</body>
