{% extends '_base.html' %}

{% block title %}{{species.common_name('nl')}}{% endblock %}

{% block content %}
  <h2><em>{{species.scientific_name}}</em> - {{species.common_name('en')}} - {{species.common_name('nl')}}</h2>

  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    {% for group, recordings in groups.items() %}
      <div>
        <h3>{{group|title}} - {{group_sizes[group]}}</h3>
        {% for recording in recordings %}
          {% set selected_recording = selected_recordings_by_id[recording.recording_id] %}
          {% set recording_override = recording_overrides[recording.recording_id] %}
          <div class="recording-box
                      {% if selected_recording %}selected{% endif %}
                      {% if recording_override.status %}has-override override-status-{{recording_override.status}}{% endif %}
                      {% if recording.recording_id == highlight_recording_id %}highlighted{% endif %}"
               data-recording-id="{{recording.recording_id}}">
            <div style="width: 200px;">
              <a href="https://www.xeno-canto.org/{{recording.recording_id.split(':')[1]}}">{{recording.recording_id}}</a>{% if selected_recording %}&ensp;(selected){% endif %}<br>
              <small>
                <abbr title="Recording duration">{{recording.length_seconds}} s</abbr>&emsp;
                <abbr title="Recording quality">{{recording.quality}}</abbr>&emsp;
                <abbr title="Number of background species">{{recording.background_species|length}}</abbr>&emsp;
                <abbr title="Computed quality from sonogram">{{"{:,.0f}".format(recording.sonogram_analysis.sonogram_quality)}}</abbr>
              </small><br>
              {{recording.type}}<br>
              <form action="/recording_overrides/{{recording.recording_id}}" method="POST">
                <select class="override-status" name="status" autocomplete="off">
                  <option value=""></option>
                  <option value="blacklist" {% if recording_override.status == 'blacklist' %}selected{% endif %}>blacklist</option>
                  <option value="goldlist" {% if recording_override.status == 'goldlist' %}selected{% endif %}>goldlist</option>
                </select><br>
                <div class="show-on-override">
                  <input class="override-reason" name="reason" value="{{ recording_override.reason }}" autocomplete="off"><br>
                  <input type="submit" class="override-submit" value="Save">
                </div>
              </form>
            </div>
            <div>
              <img src="{{recording.sonogram_url_small}}" width="240" height="80">
            </div>
            <div>
              <button class="play-button" data-audio-url="{{recording.audio_url}}" title="Play full recording">▶</button><br>
              <button class="play-button" data-audio-url="/recordings/trimmed/{{recording.recording_id}}" title="Play trimmed recording">▶</button>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <a href="?group_size_limit={{group_size_limit + 30}}">Load 30 more</a>

  <audio id="audio-player">
{% endblock %}

{% block head %}
  <style>
    .recording-box {
      display: flex;
      flex-direction: row;
      background: #f8fbff;
      border: 4px solid white;
      padding: 8px;
      margin-bottom: 8px;
    }
    .recording-box > * {
      margin-left: 8px;
    }
    .recording-box > *:first-child {
      margin-left: 0;
    }
    .recording-box.override-status-blacklist {
      background: #ddd;
    }
    .recording-box.override-status-goldlist {
      background: #ffd;
    }
    .recording-box.selected {
      border-color: #464;
    }
    .recording-box.highlighted {
      box-shadow: 0 0 8px #ff4;
    }
    .show-on-override {
      display: none;
    }
    .has-override .show-on-override {
      display: block;
    }
    .override-status {
      width: 100%;
    }
    .override-reason {
      width: 100%;
    }
    .play-button {
      width: 40px;
      height: 40px;
      border: 0;
      padding: 0;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block script %}
  <script>
    const audioPlayer = document.getElementById('audio-player')
    audioPlayer.addEventListener('playing', onPlaying)
    audioPlayer.addEventListener('ended', onEnded)
    let playingButton = null
    function onPlayClick(event) {
      event.preventDefault()
      if (playingButton == this) {
        stop()
        return
      } else {
        stop()
      }
      audioPlayer.src = this.dataset.audioUrl
      audioPlayer.play()
      this.innerHTML = '…'
      playingButton = this
    }
    function onPlaying() {
      playingButton.innerHTML = '⏹'
    }
    function onEnded() {
      stop()
    }
    function stop() {
      if (playingButton) {
        audioPlayer.pause()
        audioPlayer.removeAttribute('src')
        playingButton.innerHTML = '▶'
        playingButton = null
      }
    }
    for (const button of document.getElementsByClassName('play-button')) {
      button.addEventListener('click', onPlayClick)
    }
    audioPlayer.addEventListener('error', function(error) {
      stop()
      alert(`Failed to play audio file ${audioPlayer.src}`)
    })

    function onRecordingBoxChanged(event) {
      event.preventDefault()
      if (event.target.classList.contains('override-status')) {
        this.classList.add('has-override')
      }
    }
    for (const recordingBox of document.getElementsByClassName('recording-box')) {
      recordingBox.addEventListener('change', onRecordingBoxChanged)
    }
  </script>
{% endblock %}
